.container {
  color: red;
  text-align: center;
  font-size: 35px;
}

body{
  background-color: #CBC3E3;
}

a{
  font-size: 33px;
  background: #4ba1c3;
  color: white;
  box-shadow: 0 0 50px rgb(76, 76, 175);
}
