.container {
  color: blue;
  text-align: center;
  font-size: 35px;
}

body{
  background-color: #CBC3E3;
}

a{
  font-size: 33px;
  background: #B1000D;
  color: white;
  box-shadow: 0 0 50px red;
}
